nav, footer{
  width: 100%;
  background-color: orange;

}

nav ul{
  height: 40px;
  margin: 0px;
}

nav li{
  display: inline-block;
  margin-right: 5px;

}

nav li a{
  text-decoration: none;
}

nav li a:hover{
  background-color:white;
  color:orange;
}

section, aside{
  display:inline-block;
}

aside {
  width: 14%;
}

aside img{
  width: 100%
}
section {
  width: 70%;
}

.murray-img{
  width: 48%;
  display:inline-block;
}
